/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  direction: rtl;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calc-stage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calc-stage h2 {
  text-align: center;
  color: #37474f;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Montserrat-Medium',Arial,sans-serif;
}
 
.calc-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-img-wrapper img {
  height: auto;
  width: 100%;
  overflow: hidden;
}

form.calc-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.calc-form input {
  border-radius: 6px;
  padding: 8px 11px;
  min-height: 44px;
  background-color: #fffee1;
  border: 2px solid #93916e;
  margin: 20px;
  width: 200px;
  color: #37474f;
}

.strawberry-pink-bg-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}

.input-field, select.strawberry-pink-bg, .menu-container select {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.strawberry-pink-bg, .strawberry-pink-bg-wrapper select  {
  border-radius: 6px;
  padding: 8px 11px;
  min-height: 44px;
  background-color: #fffee1;
  border: 2px solid #93916e;
  color: #37474f;
  min-width: 200px;
}

.strawberry-pink-bg-select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .additional-fields {
    display: flex;
  }

.menu-container {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 800px;
  position: relative;
}

.additional-info {
  display: inline;
  /* float: left; */
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 600;
}

.remove-button-wrapper {
  width: 100%;
}

.remove-button {
  background-color: transparent;
  font-size: 20px;
  padding: 0;
  border: 0;
  float: left;
  text-align: left;
  margin: -4px 10px 0 10px;
  cursor: pointer;
}

.rose-red-text {
  color: #ff8888;
  }

select.custom-select {
  background-color: #ffb6c1;
  border: 2px solid #ff8888;
  color: #000;
  padding: 8px;
  border-radius: 5px;
 }

select.custom-select option {
  background-color: #ffb6c1;
  color: #000;
 }

input.custom-input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input.custom-input {
  background: linear-gradient(to bottom, #ffb6c1, #ff8888);
  border: 2px solid #ff8888;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}


@media (max-width: 1024px) {
  form.calc-form {
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    }
  
  .calc-form  input {
    min-width: 100%;
    margin: 10px 20px;
  }

  .calc-stage h2 {
    margin-bottom: 0;
  }
  .strawberry-pink-bg, .strawberry-pink-bg-wrapper select  {
    width: 100%;
  }
  .strawberry-pink-bg-select-wrapper {
    flex-direction: column;
    padding: 10px 20px;
  }

  select.strawberry-pink-bg {
    margin: 10px 20px;
  }

  .additional-fields {
    width: 100%;
}
  .menu-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 20px;
    width: 100%;
    flex-wrap: nowrap;
}

  .input-field {
    width: 100%;
    margin: 5px 0;
  }

  .remove-button {
      margin:  -5px 5px;
  }

  .additional-info {
    top: 20px;
  }
}